{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}

{% block content %}

{% include 'auth.html' %}

<hr>

<h1>Подробно</h1>

<hr>

        <table border = 0 width = 100% align = center>
            <tr>
                <td><h3>{{ post.post_title }}</h3></td>
            </tr>
            <tr>
                <td><b>{{ post.date_create|date:'d.m.Y' }}</b></td>
            </tr>
            <tr>
                <td>{{ post.post_text }}</td>
            </tr>
        </table>
<br>
категория: <b>{{ post.name_category }}</b> | автор: <b>{{ post.author.user.username }}</b>
<hr>

<h5> Отклики </h5>

    {% if responds %}



            {% for respond in responds %}
            <br>
            <table>
                <tr>
                    <td>{{ respond.date_respond|date:'d.m.Y' }} | {{ respond.hater }}</td>
                </tr>
                <tr>
                    <td>{{ respond.text_respond }}</td>
                </tr>
            </table>
            {% endfor %}


    {% else %}
        Откликов нет
    {% endif %}

    <hr>
    <form action="/board/{{ post.id }}/respond/" method="get">
        {% csrf_token %}
        <input type="hidden" name="post_pk" value={{ post.id }}>
        <input type="submit" value="Оставить отклик"/>
    </form>
    <br>


{% endblock content %}


