{% extends 'flatpages/default.html' %}

{% block title %}
Board
{% endblock title %}

{% block content %}

{% include 'auth.html' %}

<hr>

<h4> Объявлений на странице: {{ posts|length }} </h4>
<hr>

    {% if posts %}

        {% for post in posts %}
        <table border = 0 width = 100%>
            <tr>
                <td align="left">
                    <b>{{ post.date_create|date:'d.m.Y' }}</b>
                    <a href="/board/{{post.pk}}">{{ post.post_title|truncatechars:50 }}</a>
                    <br>
                    категория: <b>{{ post.name_category }}</b> - автор: <b>{{ post.author.user.username }}</b>
                    <br>
                    {{ post.post_text|truncatechars:200 }}

                </td>
            </tr>
        </table>
        <hr>
        {% endfor %}

    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}


    {% if user.is_authenticated %}
        <h5><a href="create/{{ post.id }}">Создать объявление</a></h5>
        {% if portal_user.subscribers %}
            <h5><a href="unsubscribe/">Отписаться от новостей</a></h5>
        {% else %}
            <h5><a href="subscribe/">Подписаться на новости</a></h5>
        {% endif %}
    {% endif %}

{% endblock content %}